<h1>{{ title1 }}</h1>
<!-- /select 화면에서 표현될 정보의 구조이다. 
     테이블 구조로 설정을 했으며 맨 위에는 어떠한 정보를
     표현해줄지 설정을 하고, 각 employee, department 데이터를 
     한줄씩 표현해준다. -->
<table>
    <tr>
        <td>Fname</td>
        <td>Minit</td>
        <td>Lname</td>
        <td>Ssn</td>
        <td>Bdate</td>
        <td>Address</td>
        <td>Sex</td>
        <td>Salary</td>
        <td>Super_ssn</td>
        <td>Dno</td>
    </tr>
    {{#each employee}}
    <tr>
        <td>{{Fname}}</td>
        <td>{{Minit}}</td>
        <td>{{Lname}}</td>
        <td>{{Ssn}}</td>
        <td>{{Bdate}}</td>
        <td>{{Address}}</td>
        <td>{{Sex}}</td>
        <td>{{Salary}}</td>
        <td>{{Super_ssn}}</td>
        <td>{{Dno}}</td>
    </tr>
    {{/each}}
</table>

<h1>{{ title2 }}</h1>

<table>
    <tr>
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
    </tr>
    {{#each department}}
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
        <td>{{Mgr_ssn}}</td>
        <td>{{Mgr_start_date}}</td>
    </tr>
    {{/each}}
</table>